<a href="https://colab.research.google.com/github/Kaue-LS/Python_BlueEdtech/blob/main/aula01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Aula01 #de python

In [ ]:
print("Hello World")
ola=1;
mundo=2;
oi=ola+mundo;
print(+oi)

Operadores aritméticos:

In [ ]:
n1=2
n2=3
soma=n1+n2
multi=2*3
sub=2-3
div=2/3
divint=n1//n2
exp=n1**n2
restdiv=n1%n2
#o f serve pra quando for colocar uma variavel em uma string
print(f"a soma de {n1} + {n2} é {soma}")
print(f"a multi de {n1} * {n2} é {multi}")
print(f"a sub de {n1} - {n2} é {sub}")
print(f"a div de {n1} / {n2} é {div}")
print(f"a divint de {n1} // {n2} é {divint}")
print(f"o exponencial de {n1} ** {n2} é {exp}")
print(f"o resto da divisão de {n1} % {n2} é {restdiv}")

a soma de 2 + 3 é 5
a multi de 2 * 3 é 6
a sub de 2 - 3 é -1
a div de 2 / 3 é 0.6666666666666666
a divint de 2 // 3 é 0
o exponencial de 2 ** 3 é 8
o resto da divisão de 2 % 3 é 2

OPERADORES RELACIONAIS:

In [ ]:
n1=2
n2=3

print(n1>n2)
print(n1<n2)

In [ ]:
print(n1>=n2)
print(n1<=n2)
print(n1!=n2)
print(n1==n2)

False
True
True
False

OPERADORES LÓGICOS:

In [ ]:
  n1=2
  n2=3
  n3=4
  n4=5

  print(n1>n2 or n3<4)

False

In [ ]:
print(n1 < n2 and n3 < n4)

True

In [ ]:
print(not 3>4 and 5<6)
print(not{n1>n2 or n3<n4})

True
False

VARIAVEIS E SUAS CARACTERISTICAS:

INPUT

In [ ]:
idade =int( input('Digite a sua idade'))# int converte a string em inteiro ai podemos somar com +10
print(type(idade))#se colocar+10 nao ia dar certo, nao podemos somar string com um numero

conc= 'tenho '+ str(idade)+' anos'
print(conc)

In [ ]:
X='ola mundo'
print(len(X))#quant de letra
print(X.capitalize())#a tring com inicial maiuscula
print(X.count('o'))#contra a quant da letra pedida
print(X.upper())#lower()=minusculo
print(X.replace('mundo','BLUE'))#Troca a letra

print(X[0:9:1])#sleciona as letras escolhidas. Lembrando, ele começa do!!!!!! 0!!!!!!!
#ola[123] [4]Mundo[56789] se adicionar [:2] em seguida, ele procura pulando de acordo com o valor, ele pula de posição

9
Ola mundo
2
OLA MUNDO
ola BLUE
ola mundo

In [ ]:
#ex1
#ex2
print("Ola mundo!! Esse é o meu primeiro programa")
print("Kaue\Rua Praça\n232424-234")#barra precisa ser invertida

Ola mundo!! Esse é o meu primeiro programa
Kaue\Rua Praça
232424-234

In [ ]:
#ex3
nome=input("Qual é o seu nome?")
print(f"Olá {nome}! Seja bem vidno ao fantásticc mundo da programação!")

Qual é o seu nome?lucas
Olá lucas! Seja bem vidno ao fantásticc mundo da programação!

In [ ]:
#ex4
n1=int(input("Digite o primeiro numero:"))
n2=int(input("Digite o segundo numero: "))

soma= n1+n2

print(f'{n1} + {n2} = {soma}')

In [ ]:
#ex5
n1= float(input("Digite a primeira nota: "))
n2= float(input("Digite a segunda nota: "))
n3= float(input("Digite a terceira nota: "))
n4= float(input("Digite a quarta nota: "))

media = (n1 + n2 + n3 + n4)/4
print(f'A sua média total é {media:.2f}')

Digite a primeira nota: 7
Digite a segunda nota: 8
Digite a terceira nota: 9
Digite a quarta nota: 7
A sua média total é 7.75

In [ ]:
#ex6
valor1 = float(input('Digite o primeiro valor:'))
valor2 = float(input("Digite o segundo valor:"))

print(valor1 > valor2)

Digite o primeiro valor:1
Digite o segundo valor:2
False

In [ ]:
#ex7
frase = "Os limites só existem se você os deixar existir.(goku)"

print(len(frase))
print(frase[48:])

54
(goku)

In [ ]:
frase = input('Digite uma frase: ').upper()

#frase = frase.split()

#print(''.join(frase))

#ou

print(frase.replace(' ', ''))

Digite uma frase: ola nyb=d sdsd
OLANYB=DSDSD